<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<form name="passdata" action="." method="post">
    <label>Name:</label>
<input type="text" name="name">
    <label>Age:</label>
<input type="text" name="age">
    <label>Chatgpt:</label>
<input type="text" name="chatgpt">
    <label>Date of Birth:</label>
<input type="date" name="dateofbirth">
    <input type="submit" value="submit">
</form>

<h1>{{n}}</h1>
<h1>{{age}}</h1>
<h1>{{db}}</h1>
<h1>{{xx}}</h1>

</body>
</html>